<div class="container card shadow">
    <form action="/sellers/product/description/add" method="POST">
        <p class="fs-5">Add Description</p>
        <textarea class="form-control" name="description" id="description" cols="30" rows="5"></textarea>
        <p class="fs-5 mt-3">Add Tags</p>
        <textarea class="form-control mb-4" name="tags" id="keywords" cols="30" rows="5"></textarea>
        <input type="submit" value="ADD PRODUCT" class="btn btn-success mb-5">
        {{!-- cancel button --}}
    </form>

</div>