<div class="container card text-center text-success shadow p-5">
    <p class="fs-2 fw-bold ">Product Added Successfully</p>
    <div class="d-flex  mx-auto">
        <a href="/sellers/products" class="btn btn-success me-3">View All Products</a>
        <a href="/sellers/dashboard" class="btn btn-success">Return To DashBoard</a>

    </div>
</div>