<div class="container  " style="height:100vh ;">
    <div class="row">
        <div class="text-center card  border-0     mt-5" style=" height:100mv ;">
            <form method="POST" action="/verification" style=" max-width: 20rem; margin: auto "
                class="form-control border-0   mt-5 pt-5  ">
                <p class=" opacity-75 mb-5 mt-3">We have sent an otp to your mobile number </p>
                <input type="text" class="form-control mt-3 mb-3" placeholder="otp" autofocus required  name="otp"
                    class="mt-3">
                <button class="btn btn-secondary button btn-block  rounded-pill mb-3 mt-3 mx-auto" style="width:12rem ;"
                    type="submit">Verify</button>

                </button>
                {{!-- <a href="/login">Verify Later</a> --}}
                
            </form>
        </div>
         
    </div>
</div>