<style>
    #x{
        margin-top: 250px;
    }
</style>
<div class="container" id="x" >
 <div class=" text-center">
  {{!-- <div class="card-header">Featured</div> --}}
  <div class="card-body">
    <h3 class="card-title">PLEASE LOG IN</h3>
    <p class="card-text text-secondary fs-5" >Login to continue</p>
    <i class="fas fa-sign-in-alt fs-1 text-success mb-4"></i>
   <div><a href="/login" class="btn border-primary text-primary mt-3">LOGIN</a></div>
  </div>
  {{!-- <div class="card-footer text-muted">2 days ago</div> --}}
</div> 
</div>